


.wrapper{display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    min-height: 100vh; /* vh stands for viewport height */
  }
  
  body{
    background-image: url(https://marketplace.canva.com/EAFnfGcKtiM/1/0/1600w/canva-green-illustrative-organic-plant-zoom-virtual-background-fpJFOduK3w4.jpg);
     width: 100%;
    height: 100%;
background-size: cover;
;}

   .forms{
    background-color: white;
    border-radius: 2px;
    
   } 
   form input{
    height: 10px;
    font: size 1px; ;
    outline: none;
    justify-content: space-between;
    font-size: 10px;
    
   }
   .input-area{
    word-spacing: normal;
    height: fit-content;

   }
   .heading{
    text-align: center;
    font-family: "Playfair Display", serif;

   }

